{% extends 'base.html.twig' %}


{% block body %}

    <h1>Hello {{name }}  ! ✅</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae arcu dui. Proin rhoncus lectus et elit commodo vestibulum. Donec leo tellus, tempus ac leo laoreet, vestibulum dapibus sem. Sed eu metus ligula. Vivamus sed tempor velit, in luctus mauris. Integer id mi consectetur, vulputate risus ut, posuere dui. Proin ac mollis lorem. Phasellus placerat quam sed blandit finibus. Nam interdum consequat purus, a consectetur est molestie non. Proin libero felis, tristique non ligula at, lacinia egestas mauris. Vivamus accumsan, libero non luctus venenatis, nisi nibh convallis tellus, sit amet pulvinar sem sem sit amet arcu.</p>

<p>Duis pretium laoreet purus ac semper. Pellentesque risus elit, venenatis quis cursus vel, ultricies non nunc. Integer ultricies nec lectus a venenatis. Nunc sagittis finibus nunc, nec rhoncus dolor volutpat sed. Vestibulum lacinia magna enim, et convallis velit aliquam sed. Curabitur quis ex odio. Nam volutpat mollis tellus non tempor. Praesent pretium diam nec ipsum vestibulum feugiat. Duis maximus volutpat odio, tincidunt ullamcorper felis. Maecenas sed pharetra quam, sed varius nunc. Aenean tempus lacus et consequat laoreet. Etiam nec placerat metus. Nulla non semper quam. In hac habitasse platea dictumst. Fusce tempus, nunc tincidunt dapibus viverra, tortor lectus laoreet leo, eu dictum nunc purus sit amet nisl. Pellentesque eu dolor vel lectus fermentum aliquam.</p>


{% endblock %}
